* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_banner {
    height: 55vh;
    object-fit: cover;
}

.en_columna {
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    align-items: center;
}

.logo_tamaño {
    width: 10vw;
}

body,
html {
    overflow-x: hidden;
    width: 100%;
}

.nav-link {
    font-size: 20px;
}

main {
    overflow-x: hidden;
    min-height: 71vh;
}

.centrar_titulo {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}


.img_tamaño {
    width: 12vw;
}

.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev-icon {
    background-color: black;
}

.contenedor_carrucel_cartas {
    width: 80vw;
}

.card-text {
    width: 15vw;
}

.contenedor_contact {
    display: flex;
    justify-content: center;
}

.contenedor_formulario_contact {
    width: 60vw;
    margin: 5vw;
}

.boton_formulario_contacto {
    display: flex;
    justify-content: end;
}

.contenedor_contenedor_tabla {
    display: flex;
    justify-content: center;
}

.contenedor_tabla {
    width: 90vw;
    margin: 1vw;
}

.contenedor_info_cartas {
    display: flex;
    justify-content: center;
}

.boton_carta_info {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_tamaño_ultima {
    width: 20vw;
}

.border-top {
    width: 15vw;
}

.card {
    width: 20vw;
    border: solid rgba(84, 73, 73, 0.193) 2px;
}

.tamaño_card_horizontal {
    width: 80vw;
    display: flex;
}

.card-title {
    font-size: 23px;
}

.subtitle {
    font-size: 1.2em;
    color: red;
}

.negrita {
    font-weight: bold;
}

.tamaño_img_card_horizontal {
    width: 35vw;
    height: 52vh;
    object-fit: cover;
}

.tamaño_img_card {
    height: 30vh;
    object-fit: cover;
    margin: 5px;
}

@media (min-width: 437px) and (max-width: 2000px) {
    .img_tamaño {
        width: 6vw;
    }

    .contenedor_footer {
        display: flex;
        justify-content: space-between;
        margin-top: 1vh;
    }

    .imagenes_redes {
        width: 25vw;
    }

    .cohort {
        display: flex;
        justify-content: end;

    }
}

@media (min-width: 323px) and (max-width: 767px) {
    .logo_tamaño {
        width: 25vw;
    }
}

@media (min-width: 700px) and (max-width: 2000px) {
    .search_and_checkbox {
        display: flex;
    }

    .logo_tamaño {
        width: 18vw;
    }

    .img_cartas {
        height: 60vh;
        object-fit: cover;
    }

    .contenedor_carrucel_cartas {
        width: 55vw;
    }

    .card-body {
        width: 52vw;
    }

    .img_carta_info {
        width: 40vw;
        height: 50vh;
        object-fit: cover;
    }

    .c_cartas_info {
        display: flex;
        flex-direction: row;
        margin: 4vw;
    }
}


/*>>>>>>>>>>>>>>>>>>>>>stats<<<<<<<<<<<<<<<<<<*/
.centrar_titulo {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th,
td {
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #d1ecf1;
    cursor: pointer;
}

th {
    background-color: #5f5afda7;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    color: #555;
}

#maxAttendanceEvent {
    font-weight: bold;
    color: #2c7a7b;
}

#minAttendanceEvent {
    font-weight: bold;
    color: #e53e3e;
}

#maxCapacityEvent {
    font-weight: bold;
    color: #3182ce;
}
.mainStats{
    margin: 10px;
}